.rheader {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	/*
	border-style: solid;
	border-width: 2px;
	*/
}
.rheader-buttons {
	margin-bottom: 10px;
	/*
	border-style: solid;
	border-width: 2px;
	*/
	text-align: center;
}
.rheader-message {
	margin-bottom: 10px;
	text-align: center;
}
.rform-centered {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	float: none;	
}
