#tableContainer .rtable tr th {
	background-color: #C8DCEE;
	font-size: 12pt;
	font-style:italic;
	font-weight:bold;
}

#tableContainer .rtable tr{
    background-color: #FFD4F0;
}
#tableContainer .rtable tr:nth-child(odd){
    background-color: #EEE;
}
@media (min-width: 768px) {
  #tableContainer {
    padding-right: 40px;
    padding-left: 40px;
  }
}