
/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 1px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #e5e5e5;
    border-right: 2px solid #dddddd;    
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-top: 50px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  font-weight:bold;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

